nav {
	font-family: 'Oswald', sans-serif !important;
	width: 100%;  
}

body {
	font-family: 'Oswald', sans-serif !important;
}

#logo {
	margin-bottom: 7px;
}

nav > div > ul > li > a:hover {
	color: #343a40;
	background-color: white;
}

nav > div > ul > li > a {
	color: #dc3545;
}

nav > div > ul > li > .dropdown-menu {     
	background-color: #343a40;  
}

nav > div > ul > li > .dropdown-menu a{
	color: #dc3545;
}

#menu-logo {
	height: 500px;
	width: 500px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.product {
	display: inline-block;
    text-align: center;
}

#menu-img {
	text-align: center;
	padding: 10px;
}

.caption {
	display: block;
}

footer {
    color: #dc3545;
    font-family: 'Oswald', sans-serif !important;
}


.delivery_info {
	margin-top: 20px;
}


.float-left {
	padding-left: 30px;
}

.float-left h1 {
	padding-top: 10px;
}

.float-left p {
	color: white;
	padding-top: 60px;
}

.float-right {
	margin-top: 90px;
}

.location_info {
	padding-top: 10px;
	display: block;
    margin: 0 auto;
    color: white;
}

.p-1{
	text-align: center;
	font-size: 20px;
}

.p-2 {
	text-align: center;
}

.b-1 {
	border: 1px solid black;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#captionInfo {
	padding-bottom: 10px;
	padding-top: 10px;
}